@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body #titlebar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
  }
  
  body #titlebar button,body #title, svg {
    -webkit-app-region: no-drag;
  }
  body #titlebar #search, .icon {
    -webkit-app-region: no-drag;
    user-select: all;
  }



  